body,h1,h2,h3,h4,h5,h6 {
    font-family: "Righteous", sans-serif;
}
body {
    background-color: rgb(39, 38, 38);
    color: rgb(89, 159, 235); /* makes text visible */
}

/* FEATURED LARGE IMAGE */
.featured-image {
    width: 800px;
    height: auto;
    display: block;
    margin-left: 70px;
    border-radius: 10px;
}
.three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 20px;
}
.three-column .w3-card-4 {
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}


/* 3 COLUMN GRID IMAGES */
.grid-image {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.search {
    --padding: 14px;

    position: absolute;   /* or fixed */
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    width: 600px;
}


.search-input{
    font-size: 16px;
    color: #000000;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}