<!DOCTYPE html>
<html lang="en">

<head>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
   <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

   <title>Cool Cars</title>
</head>

<body class="w3-container">
   <a href="{{ url_for('home') }}">
      <header class="w3-container w3-padding-32">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQ0Mo7gEQmKEniN94QPoEw4ZBT7ms6BH702_GB3yyp0W-LN5qK"
      alt="Cool Cars Logo"
      class="logo">      
      </header>
   </a>
   <nav class="w3-bar w3-blue-grey">
      <a href="/" class="w3-bar-item w3-button">Home</a>1
      <a href="{{ url_for('maker' , id=0) }}" class="w3-bar-item w3-button">Bugatti</a>
      <a href="{{ url_for('maker' , id=1) }}" class="w3-bar-item w3-button">Lamborghini</a>
      <a href="{{ url_for('maker' , id=2) }}" class="w3-bar-item w3-button">Porsche</a>
      <a href="{{ url_for('maker' , id=3) }}" class="w3-bar-item w3-button">Ferrari</a>
      <a href="{{ url_for('maker' , id=4) }}" class="w3-bar-item w3-button">Koenigsegg</a>
      <a href="{{ url_for('maker' , id=5) }}" class="w3-bar-item w3-button">Pagani</a>
      <a href="{{ url_for('Contact') }}" class="w3-bar-item w3-button">Contact</a>
   </nav>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search" />

<form action="/search" method="GET">
    <div class="search">
        <span class="search-icon material-symbols-outlined">search</span>
        <input 
            class="search-input" 
            type="search" 
            name="query" 
            placeholder="Search cars..."
        >
    </div>
</form>

   {% block body %}
   {% endblock %}
</body>

</html>